.form-title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container-form {
    margin: 0% 29% 0%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.container-form div {
    margin: 5px;
}

.container-form div > input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 18px;
}

.container-sixth-field input {
    margin-right: 40px;
}

.container-form ul {
    list-style-type: none;
    padding-left: initial;
    margin-left: 10px;
}

.container-li p {
    font-weight: bold;
}

.container-li div {
    margin-left: initial;
    display: flex;
}

.container-li div > div {
    flex-direction: column;
}

.container-li div > label {
    margin-right: 100px;
}

#preschool {
    margin-right: 40px;
}

.signmarg {
    margin: 10px 0px 0px 0px;
}

.signmarg p {
    margin-top: 0px;
}

.bold {
    font-weight: bold;
}

.size {
    font-size: 18px;
}

.container-maps {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2vw 5vw;
    justify-items: center;
    align-items: center;
}

.container-information {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: aqua;
    text-align: center;
    align-items: center;
}